@tailwind base;
@tailwind components;
@tailwind utilities;

.light-bg {
  color: #09160e;
  background-color: #ede7de;
}

.external-link {
  font-weight: 500;
}
.external-link:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 2px;
}
